<app-score #scoreView [playerScores]="playerScore$ | async"></app-score>

<div class="mat-tab-content">
  @let trashMat = trashMat$ | async;
  @if (trashMat) {
    <app-mat-tab
      [mat]="trashMat"
      (click)="visibleMat === trashMat ? stickyMat = !stickyMat : visibleMat = trashMat"
      (mouseenter)="!stickyMat ? visibleMat = trashMat : null"
      (mouseleave)="!stickyMat ? visibleMat = null : null">
    </app-mat-tab>
  }
  @let setAsideMat = setAsideMat$ | async;
  @if (setAsideMat) {
    <app-mat-tab
      [mat]="setAsideMat"
      (click)="visibleMat === setAsideMat ? stickyMat = !stickyMat : visibleMat = setAsideMat"
      (mouseenter)="!stickyMat ? visibleMat = setAsideMat : null"
      (mouseleave)="!stickyMat ? visibleMat = null : null">
    </app-mat-tab>
  }
  @for (mat of selfMats$ | async; track mat.mat) {
    <app-mat-tab
      [mat]="mat"
      (click)="visibleMat === mat ? stickyMat = !stickyMat : visibleMat = mat"
      (mouseenter)="!stickyMat ? visibleMat = mat : null"
      (mouseleave)="!stickyMat ? visibleMat = null : null">
    </app-mat-tab>
  }
</div>

<app-game-log [entries]="logEntries$ | async"></app-game-log>

@if (visibleMat) {
  <div class="mat-modal-backdrop">
    <div class="mat-modal-content">
      <div class="mat-modal-title">{{ visibleMat.mat }}</div>
      <div class="player-flex-container">
        @for (playerMatContent of visibleMatContent; track playerMatContent.id) {
          <div class="player-item">
            @if(playerMatContent.playerName) {
              <div class="player-name">{{ playerMatContent.playerName }}</div>
            }
            <div class="card-flex-container">
              @for (cardId of playerMatContent.cardIds; track cardId) {
                <div class="card-item">
                  <app-card
                    [size]="'half'"
                    [cardId]="cardId"
                  ></app-card>
                </div>
              }
            </div>
          </div>
        }
      </div>
      <div
        class="close-button"
        (mousedown)="visibleMat = null; stickyMat = false"
      >X
      </div>
    </div>
  </div>
}
