<div class="rearrange-content">
  <div class="rearrange-labels">
    <span>BOTTOM</span>
    <span>TOP</span>
  </div>

  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="orderedCardIds()"
    class="rearrange-list"
    (cdkDropListDropped)="onDropped($event)">
    @for (cardId of orderedCardIds(); track cardId) {
      <div cdkDrag class="rearrange-item">
        <app-card [cardId]="cardId" [size]="'half'"></app-card>
      </div>
    }
  </div>
</div>
