.mat-tab {
  cursor: pointer;
  font-size: 18px;
  color: white;
  padding: 3px 3px 3px 8px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  .badge-count {
    padding: 5px 10px;
    background: #c70000;
  }
}
