<div class="content">
  <span>{{ ('Turn ' + ((roundNumber$ | async) ?? 1)) | uppercase }} ({{turnNumber$ | async}})</span>

  <div class="player-scores-container">
    @for (playerScore of (getOrderedPlayerScores() | async); track playerScore?.id) {
      @if (playerScore !== undefined) {
        @let isCurrentPlayer = (currentPlayerTurnId$ | async) === playerScore.id;
        <div
          class="player-score-container"
          [ngClass]="{'current-player': isCurrentPlayer}"
          [style.borderColor]="isCurrentPlayer ? (getPlayerColor(playerScore.id) | async) : null"
          [style.boxShadow]="isCurrentPlayer ? 'inset 10px 0 0 ' + (getPlayerColor(playerScore.id) | async) : null"
          [style.backgroundColor]="getBackgroundColor(playerScore.id) | async"
        >
          <span class="player-name">{{ playerScore.name }}</span>
          <span>{{ playerScore.score }}</span>
        </div>
      }
    }
  </div>
</div>
