<div class="content">
  <span>{{ ('Turn ' + ((roundNumber$ | async) ?? 1)) | uppercase }}</span>

  @let victoryTokens = victoryTokens$ | async;

  <div class="player-scores-container">
    @for (playerScore of (getOrderedPlayerScores() | async); track playerScore?.id) {
      @if (playerScore !== undefined) {
        @let isCurrentPlayer = (currentPlayerTurnId$ | async) === playerScore.id;
        <div
          class="player-score-container"
          [ngClass]="{'current-player': isCurrentPlayer}"
          [style.borderColor]="isCurrentPlayer ? (getPlayerColor(playerScore.id) | async) : null"
          [style.boxShadow]="isCurrentPlayer ? 'inset 10px 0 0 ' + (getPlayerColor(playerScore.id) | async) : null"
          [style.backgroundColor]="getBackgroundColor(playerScore.id) | async"
        >
          <span class="player-name">{{ playerScore.name }}</span>

          <div style="display: flex; align-items: center; gap: 10px;">
            @if ((victoryTokens?.[playerScore.id] ?? 0) > 0) {
              <div style="position:relative; display: flex; align-items: center;">
                <img
                  class="victory-token-icon"
                  ngSrc="/assets/ui-icons/victory-shield.png"
                  width="24"
                  height="24"
                  alt="victory point token"
                >
                <span class="victory-token-count">{{ (victoryTokens$ | async)?.[playerScore.id] ?? 0 }}</span>
              </div>
            }
            <span style="font-size: 18px;">{{ playerScore.score }}</span>
          </div>
        </div>
      }
    }
  </div>
</div>
