.content  {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player-scores-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;

  .player-score-container {
    display: flex;
    justify-content: space-between;
    border: 4px solid rgb(0, 0, 0, 0);
    padding: 5px 5px 5px 16px;
    margin-bottom: -1px;
    z-index: 0;

    &.current-player {
      z-index: 1;
    }
  }
}
