<div class="content">
  <!-- left half, victory points and -->
  <div class="pane left">
    <div class="player-score-content">
      @for (playerSummary of matchSummary.playerSummary; track playerSummary.playerId) {
        <div class="player-score-wrapper">
          <span class="place">{{ $index + 1 }}</span>

          <div class="hr-rule place-name-separator"><div class="line"></div></div>

          <span>{{ getPlayerName(playerSummary.playerId) }}</span>

          <div class="hr-rule turn-score-separator"><div class="line"></div></div>

          <div class="score-container">
            <img class="victory-icon" ngSrc="/assets/ui-icons/victory-shield.png" width="1" height="1"/>
            <span class="score-value">{{ playerSummary.score }}</span>
          </div>

          <div class="hr-rule"><div class="line"></div></div>

          <span class="turns-taken">Turns {{ playerSummary.turnsTaken }}</span>
        </div>
      }
    </div>
  </div>

  <div class="vertical-rule"></div>

  <!-- right half, decks -->
  <div class="pane right">
    @for (deck of playerDecks; track deck.playerId) {
      <div class="player-deck-summary">
        <div>{{ getPlayerName(deck.playerId) }}</div>
        <div class="deck-summary">
          @for (entry of deck.cards | deckEntries; track entry.cardId) {
            @let card = allCards?.[entry.cardId];

            <div class="card-summary">
              <div class="card-image">
                <img [src]="card?.halfImagePath">
                <span class="count">{{entry.count}}</span>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
