<div #pixiContainer class="pixi-container"></div>

<ng-container [ngSwitch]="scene()">
  <app-lobby *ngSwitchCase="'lobby'"></app-lobby>
  <app-match-configuration *ngSwitchCase="'configuration'"></app-match-configuration>
  <app-match-hud
    [ngClass]="{'match-started': matchStarted()}"
    (scoreViewResize)="onScoreViewResize($event)"
    *ngSwitchCase="'match'">
  </app-match-hud>
  <app-game-summary [matchSummary]="matchSummary()!" *ngSwitchCase="'gameSummary'"></app-game-summary>
</ng-container>

<app-card-detail-dialog></app-card-detail-dialog>

<router-outlet />
