:host {
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.pixi-container {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

app-match-configuration, app-match-hud, app-game-summary {
  position: relative;
  z-index: 1;
  max-height: 100%;
  overflow: hidden;
}

app-match-hud {
  display: none;
}

app-match-hud.match-started {
  display: unset;
}
