<ng-container [ngSwitch]="scene()">
  <app-lobby *ngSwitchCase="'lobby'"></app-lobby>
  <app-match-configuration *ngSwitchCase="'configuration'"></app-match-configuration>
  <app-match-hud
    [ngClass]="{'match-started': matchStarted()}"
    (scoreViewResize)="onScoreViewResize($event)"
    (nextPhaseRequested)="onNextPhaseRequested()"
    (playAllTreasuresRequested)="onPlayAllTreasuresRequested()"
    *ngSwitchCase="'match'">
  </app-match-hud>
  <app-game-summary [matchSummary]="matchSummary()!" *ngSwitchCase="'gameSummary'"></app-game-summary>
</ng-container>

@if (scene() === 'match' && matchStarted()) {
  <app-match-supply-overlay
    [visible]="true"
    [scoreRect]="scoreViewRect()"
  ></app-match-supply-overlay>
  <app-match-landscapes-overlay
    [visible]="true"
    [scoreRect]="scoreViewRect()"
  ></app-match-landscapes-overlay>
  <app-match-non-supply-overlay
    [visible]="true"
    [scoreRect]="scoreViewRect()"
  ></app-match-non-supply-overlay>
  <app-match-player-area-overlay
    [visible]="true"
    [scoreRect]="scoreViewRect()"
  ></app-match-player-area-overlay>
  <app-pile-selection-action-overlay></app-pile-selection-action-overlay>
}

<app-card-detail-dialog></app-card-detail-dialog>
<app-way-picker-overlay></app-way-picker-overlay>
<app-prompt-dialog-host></app-prompt-dialog-host>

<router-outlet />
