<main class="match-config">
  <!-- ░░░  Player List  ░░░ -->
  <section class="players">
    <h2 class="section-title">Players</h2>

    <div class="player-list">
      @for (id of playerIds$ | async; track id) {
        <app-player-name-input [playerId]="id"></app-player-name-input>
      }
    </div>
  </section>

  <!-- ░░░  Expansion List  ░░░ -->
  <section class="expansions">
    <h2 class="section-title">Expansions</h2>

    <div class="expansion-list">
      @let expansionList = (expansionList$ | async) ?? [];
      @let selectedExpansions = (matchExpansions$ | async) ?? [];
      @for (expansion of expansionList; track expansion.name) {
        <!-- item (selected) -->
        <div
          [title]="expansion.title"
          (click)="isGameOwner ? onToggleExpansion(expansion) : null"
          [ngStyle]="{'cursor': isGameOwner ? 'pointer' : 'default'}"
          class="expansion-item"
          [ngClass]="{'selected': selectedExpansions.includes(expansion.name)}"
        >
          <img
            ngSrc="/assets/expansion-icons/{{expansion.name}}.png"
            height="1"
            width="1"
            alt="{{expansion.title}} icon"
            class="expansion-icon"
          />
        </div>
      }
    </div>
  </section>

  <section class="kingdom-section">
    <h2 class="section-title">Kingdom</h2>

    <div class="kingdom-list">
      @for (kingdom of preSelectedKingdoms; track kingdom?.cardKey) {
        <div
          class="kingdom"
          [ngStyle]="{'cursor': isGameOwner && kingdom === null ? 'pointer' : 'default'}"
          (click)="kingdom === null && isGameOwner ? selectingKingdom = true : null"
        >
          @if (kingdom !== null && isGameOwner) {
            <div (click)="deleteKingdom(kingdom)" class="close-button">X</div>
          }
          <div>
            @if (kingdom !== null) {
              <img
                alt="{{kingdom.cardName}} image"
                ngSrc="{{kingdom.halfImagePath}}"
                height="122"
                width="122"
              />
            } @else {
              <span class="no-kingdom">?</span>
            }
          </div>
        </div>
      }
    </div>
  </section>

  <section class="banned-cards-section">
    @let bannedKingdoms = (bannedKingdoms$ | async) ?? [];
    <h2 class="section-title">Banned cards ({{ bannedKingdoms.length }})</h2>

    @if (isGameOwner) {
      <button (click)="selectingBannedCards = true">Select</button>
    }

    <div class="banned-card-list">
      @for (bannedCard of bannedKingdoms; track bannedCard.cardKey) {
        <span class="banned-card-item">
          <span>{{ bannedCard.cardName }}</span>
          @if (isGameOwner) {
            <span (click)="deleteBannedKingdom(bannedCard)" class="close-button">X</span>
          }
        </span>
      }
    </div>
  </section>
</main>

<!-- select banned kingdoms -->
@if (selectingBannedCards) {
  <app-select-kingdom-modal
    [excludedKingdoms]="preSelectedKingdoms"
    [ngStyle]="{'visibility': selectingBannedCards ? 'visible' : 'hidden'}"
    (close)="selectingBannedCards = false"
    autofocus
    (kingdomSelected)="onBannedKingdomSelected($event)">
  </app-select-kingdom-modal>
}

<!-- select kingdoms to include in match -->
@if (selectingKingdom) {
  <app-select-kingdom-modal
    [excludedKingdoms]="preSelectedKingdoms.concat(bannedKingdoms)"
    [ngStyle]="{'visibility': selectingKingdom ? 'visible' : 'hidden'}"
    (close)="selectingKingdom = false"
    autofocus
    (kingdomSelected)="onKingdomSelected($event)">
  </app-select-kingdom-modal>
}
