<div class="modal-container">
  <div class="card-content">
    <div (click)="searchTerm.value = ''; onClose()" class="close-button">X</div>
    <div class="card-container">
      @for (card of searchResults$ | async; track card.cardKey) {
        <img
          (click)="onKingdomSelected(card); searchTerm.value = ''"
          [ngSrc]="card.halfImagePath"
          height="{{SMALL_CARD_HEIGHT}}"
          width="{{SMALL_CARD_WIDTH}}"
          class="card-image">
      }
    </div>
  </div>

  <input #searchTerm (input)="updateSearchTerm(searchTerm.value)" type="text">
</div>
