<div class="modal-container">
  <div class="card-content">
    <div (click)="searchTermInput.value = ''; onClose()" class="close-button">X</div>
    <div class="card-container">
      @for (card of searchResults$ | async; track card.cardKey) {
        <img
          (click)="onKingdomSelected(card); searchTermInput.value = ''"
          [ngSrc]="card.halfImagePath"
          height="{{SMALL_CARD_HEIGHT}}"
          width="{{SMALL_CARD_WIDTH}}"
          class="card-image">
      }
    </div>
  </div>

  <input
    #searchTermInput
    autofocus
    (input)="updateSearchTerm(searchTermInput.value)"
    type="text">
</div>
