.content {
  color: white;
  background-color: rgba(0, 0, 0, .6);
  padding: 20px;
  height: 75vh;
  max-height: 1000px;
  min-width: 300px;
  overflow: auto;

  ::ng-deep .log-entry hr {
    width: 100%;
    border-top: 2px solid white;
    display: inline-block;
  }
}
