.content {
  color: white;
  background-color: rgba(0, 0, 0, .6);
  height: 75vh;
  max-height: 1000px;
  position: relative;

  .resize-handle {
    height: 100%;
    width: 10px;
    position: absolute;
    cursor: col-resize;
    box-shadow: inset 3px 0 4px -2px rgba(255, 255, 255, 1);
  }

  .log-content {
    min-width: 300px;
    height: 100%;
    overflow: auto;
    padding: 20px;
    top: 0;
    left: 0;
  }

  ::ng-deep .log-entry {
    user-select: none;
    hr {
      width: 100%;
      border-top: 2px solid white;
      display: inline-block;
      height: 8px;
    }

    hr.new-player-turn {
      border-top: 2px dashed rgba(255, 255, 255, 0.5);
      width: 75%;
    }
  }
}
